---
import Header from "../components/Header.astro";
import Fotter from "../components/Fotter.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>

    <Header/>
    <div id="privacy" class="justify-center p-5 md:content-center w-full pt-16">
    <div class="text-justify">
        <p><strong>Aviso de Privacidad</strong></p>
        <br/>
        <p><strong>OTUSORES S.A de C.V</strong></p>
        <p>&Uacute;ltima actualizaci&oacute;n: [05/03/2025]</p>
        <br/>
        <p>1. <strong>Introducci&oacute;n</strong> OTUSORES S.A de C.V. Con domicilio en Avenida los ejidos, n&uacute;mero 278, colonia los Reyes Iztacala 1RA Secci&oacute;n, Tlalnepantla de Baz Estado de M&eacute;xico, es responsable del tratamiento de sus datos personales. Este aviso de privacidad tiene como objetivo informarle sobre c&oacute;mo recopilamos, usamos, almacenamos y protegemos su informaci&oacute;n en cumplimiento con la Ley Federal de Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares.</p>
        <br/>
        <p>2. <strong>Datos que Recopilamos</strong></p>
        <ul style="list-style-type: disc; padding-left: 40px;">
            <li>Nombre completo</li>
            <li>Correo electr&oacute;nico</li>
            <li>Tel&eacute;fono de contacto</li>
            <li>Direcci&oacute;n</li>
            <li>Informaci&oacute;n de facturaci&oacute;n (en caso de contrataci&oacute;n de servicios)</li>
            <li>Cualquier otro dato necesario para la prestaci&oacute;n de nuestros servicios</li>
        </ul>
        <br/>
        <p>3. <strong>Finalidad del Tratamiento de los Datos</strong> Los datos personales que recabamos ser&aacute;n utilizados para las siguientes finalidades:</p>
        <br/>
        <ul style="list-style-type: disc; padding-left: 40px;">
            <li>Prestaci&oacute;n de los servicios contratados</li>
            <li>Contacto para informaci&oacute;n y seguimiento de solicitudes</li>
            <li>Facturaci&oacute;n y procesos administrativos</li>
            <li>Env&iacute;o de informaci&oacute;n promocional y novedades (con su consentimiento)</li>
            <li>Cumplimiento de obligaciones legales</li>
        </ul>
        <br/>
        <p>4. <strong>Protecci&oacute;n y Seguridad de sus Datos</strong> Implementamos medidas de seguridad administrativas, t&eacute;cnicas y f&iacute;sicas para proteger su informaci&oacute;n contra da&ntilde;o, p&eacute;rdida, alteraci&oacute;n, destrucci&oacute;n o uso no autorizado.</p>
        <br/>
        <p>5. <strong>Transferencia de Datos</strong> No compartimos ni transferimos sus datos personales a terceros sin su consentimiento, salvo en los casos previstos por la ley.</p>
        <br/>
        <p>6. <strong>Derechos ARCO (Acceso, Rectificaci&oacute;n, Cancelaci&oacute;n y Oposici&oacute;n)</strong> Usted tiene derecho a acceder, rectificar, cancelar u oponerse al uso de sus datos personales. Para ejercer estos derechos, puede enviar una solicitud a privacidad@grupomipan.com con el asunto "Ejercicio de Derechos ARCO".</p>
        <br/>
        <p>7. <strong>Modificaciones al Aviso de Privacidad</strong> Nos reservamos el derecho de modificar este aviso de privacidad en cualquier momento. Cualquier cambio ser&aacute; notificado a trav&eacute;s de nuestro sitio web https://www.grupomipan.com.</p>
        <br/>
        <p>8. <strong>Contacto</strong> Si tiene dudas sobre este aviso de privacidad, puede contactarnos en:</p>
        <br/>
        <p>OTUSORES S.A de C.V.<br>
            privacidad@grupomipan.com<br>
            Tel. 55-24-51-01-01</p>
            <br/>
            <p>Al utilizar nuestros servicios, usted acepta los t&eacute;rminos descritos en este aviso de privacidad.</p>
            <br/>
            <div class="text-center">
            <p><strong>ATENTAMENTE</strong></p>
            <p>_______________________________________<br>
                AREA JURIDICA GRUPO MI PAN</p>
            </div>
        </div>
    </div>
<Fotter/>
</Layout>