---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Header from './Header.astro';
import Description from "./landing/DescriptionView.astro"
---

<div>
	<Header/>
	<Description/>
</div>